// #ICONS

.icon {
  height: (32/$base) * 1rem;
  width: (32/$base) * 1rem;
  display: inline-block;
  fill: currentColor;
  vertical-align: bottom;

  &.icon--logo {
    width: (128/$base) * 1rem;
    height: (34/$base) * 1rem;

    .grid--full & {
      width: 42vw;
      height: auto;
    }
  }

  &.icon--arrow {
    width: (12/$base) * 1rem;
    height: (8/$base) * 1rem;
    color: $black;
  }

  &.icon--anvil_orange,
  &.icon--anvil_blue,
  &.icon--anvil_green,
  &.icon--anvil_hero,
  &.icon--anvil_homepage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: auto;
    max-width: none;
    height: 100vh;
    color: $orange;
  }

  &.icon--anvil_blue {
    color: $blue;
    width: 100vw;
    height: auto;
    background: $white;
  }

  &.icon--anvil_green {
    color: $green--light;
    width: 100vw;
    height: auto;
    background: $white;
  }

  &.icon--anvil_hero {
    color: $beige;
    width: 100vw;
    height: 100vh;
    padding: 10vh 3vw;
  }

  &.icon--anvil_homepage {
    width: 100vw;
    height: auto;
    z-index: -1;

    path:nth-child(1) {
      fill: $blue--dark;
    }

    path:nth-child(2) {
      fill: $beige;
    }

    path:nth-child(3) {
      fill: $blue;
    }
  }
}