// #IMAGES

img,
svg {
  display: block;
  max-width: 100%;

  .full_images &,
  &.img--full {
    width: 100%;
  }

  a & {
    filter: saturate(0);
    transition: filter $fast, transform $fast;
  }

  a:focus &,
  a:hover & {
    filter: saturate(1);
    transform: scale(0.98);
  }
}