
// #HEADER

header {
  position: fixed;
  padding: $rythm;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  // background: fade-out($white, 0.05);

  a, button, .menu {
    pointer-events: auto;
  }

  @media #{$tablet_portrait} {
    padding: $rythm/2;
  }
}

  .header__link {

    &.active,
    &:focus {
      color: $black--dark;
      text-decoration: underline;
    }
  }

  .headroom {
    transition: transform $fast;

    &.headroom--pinned {
      transform: translateY(0);
    }

    &.headroom--unpinned {
      transform: translateY(-100%);
    }
  }